<div ng-controller="questionListCtrl">
  <h1>Home Placeholder</h1>
  <ul>
      <li ng-repeat="question in questions">
        <strong>{{question.title}}</strong>  {{question.answer}}
      </li>
  </ul>
  <input type="text" ng-model="newQuestion">
  <button ng-click="createQuestion()">Create</button>
</div>