/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, h1, div, ul, li, table, thead, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: sans-serif;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  text-align: center;
}

header {
  background: blue;
}

.nav-left {
  float: left;
  padding-left: 15px;
}

.nav-right {
  float: right;
}

header a {
  float: left;
  color: white;
  padding: 10px 15px 10px 0;
}

.content {
  margin: 20px;
}

table.questions {
  border-collapse: collapse;
  border: 1px solid black;
  width: 700px;
}

table.questions td {
  padding: 5px;
  border: 1px solid black;
}